<h1 id="adding-a-router" data-title="Adding a Router">
    <a style="background-color: transparent !important;" href="#adding-a-router" aria-hidden="true" class="anchor"><svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>
    Adding a Router
  </h1><p>Create React App doesn&#39;t prescribe a specific routing solution, but <a href="https://reacttraining.com/react-router/web/">React Router</a> is the most popular one.</p>
<p>To add it, run:</p>
<pre><code class="language-sh">npm install --save react-router-dom</code></pre>
<p>Alternatively you may use <code>yarn</code>:</p>
<pre><code class="language-sh">yarn add react-router-dom</code></pre>
<p>To try it, delete all the code in <code>src/App.js</code> and replace it with any of the examples on its website. The <a href="https://reacttraining.com/react-router/web/example/basic">Basic Example</a> is a good place to get started.</p>
<p>Note that <a href="deployment.md#serving-apps-with-client-side-routing">you may need to configure your production server to support client-side routing</a> before deploying your app.</p>
