<h1 id="can-i-use-decorators-" data-title="Can I Use Decorators?">
    <a style="background-color: transparent !important;" href="#can-i-use-decorators-" aria-hidden="true" class="anchor"><svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>
    Can I Use Decorators?
  </h1><p>Some popular libraries use <a href="https://medium.com/google-developers/exploring-es7-decorators-76ecb65fb841">decorators</a> in their documentation.<br>
Create React App intentionally doesn’t support decorator syntax at the moment because:</p>
<ul>
<li>It is an experimental proposal and is subject to change (in fact, it has already changed once, and will change again).</li>
<li>Most libraries currently support only the old version of the proposal — which will never be a standard.</li>
</ul>
<p>However in many cases you can rewrite decorator-based code without decorators just as fine.<br>
Please refer to these two threads for reference:</p>
<ul>
<li><a href="https://github.com/facebook/create-react-app/issues/214">#214</a></li>
<li><a href="https://github.com/facebook/create-react-app/issues/411">#411</a></li>
</ul>
<p>Create React App will add decorator support when the specification advances to a stable stage.</p>
