<h1 id="welcome" data-title="Welcome">
    <a style="background-color: transparent !important;" href="#welcome" aria-hidden="true" class="anchor"><svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>
    Welcome
  </h1><p>Edit <code>/documate/docs/welcome.md</code> (in the root directory of your project) to change this content. You may also simply delete it and start fresh by creating new Markdown files in the <code>/documate/docs/</code> directory and adding them to the <code>navs.DOCS</code> property of the <code>/documate/config.js</code> file.</p>
<p>For more details check out our <a href="https://documate.netlify.com/docs/">docs</a>.</p>
<p>Happy <em>documating</em>!</p>
