<style>
  .hero-label {
    color: #878b94;
  }
  .hero {
    background-color: #282c34;
    color: #ffffff;
    padding: 90px 0;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title {
    font-weight: bold;
    color: #61dafb;
    font-size: 42px;
    margin-bottom: 30px;
  }
  .sub-title {
    max-width: 700px;
    color: #ffffff;
    font-size: 25px !important;
    text-align: center;
    padding: 0 15px;
    font-weight: 300;
  }
  .features, .support {
    padding: 40px 0;
  }
  .features h2, .support h2 {
    font-size: 2em;
    font-size: 20px;
    font-weight: 300;
    border: none;
    margin-bottom: 35px;
    padding: 0;
    color: #6d6d6d;
  }
  .support {
    text-align: center;
  }
  #patreon {
    background-color: #f96854 !important;
    color: #fff !important;
    margin: 50px 0 30px;
  }
  @media only screen and (max-width: 860px) {
    .features, .support {
      padding-left: 20px;
      padding-right: 20px;
    }
    .sub-title {
      font-size: 20px;
    }
  }
</style>
<section class="hero">
  <h1 class="title">Create React App</h1>
  <p class="sub-title">
    Set up a modern web app by running one command.
  </p>
  <div class="btn-links-container">
    <a class="btn-link" href="/docs/welcome">Learn More</a>
    <a class="btn-link-arrow" href="/docs/getting-started/installation">
      Get Started
      <svg
        height="12"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 4.53657 8.69699"
      >
        <path
          d="M.18254,8.697a.18149.18149,0,0,1-.12886-.31034L4.09723,4.34126.05369.29954a.18149.18149,0,0,1,.2559-.2559L4.4838,4.21785a.18149.18149,0,0,1,0,.2559L.30958,8.648A.18149.18149,0,0,1,.18254,8.697Z"
          fill="currentColor"
        ></path>
      </svg>
    </a>
  </div>
</section>
<section class="features container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <h2>Markdown & HTML friendly</h2>
      <p>
        Documate converts your Markdown-based docs into a final HTML format that
        your end users can easily interact with. This saves you all the time to
        maintain docs. You can also <a href="/docs/getting-started/connecting-your-docs">inject custom HTML</a> wherever
        necessary.
      </p>
    </div>
    <div class="col-md-3 col-sm-12">
      <h2>React-ish style</h2>
      <p>
        Your site is made to resemble
        <a href="https://facebook.github.io/react">React's official website</a>.
        That emmersive feel when going through the docs is maintained while
        still being able to serve your docs.
      </p>
    </div>
    <div class="col-md-3 col-sm-12">
      <h2>Responsive</h2>
      <p>
        Across all viewports, Documate still maintains its UI style while
        providing a little bit more accessibility-related features for different
        viewports. Documate was built in a mobile-first sense with a powerful search
        feature.
      </p>
    </div>
    <div class="col-md-3 col-sm-12">
      <h2>Built with Create React App</h2>
      <p>
        Documate is built with the same tools you are familiar with. It
        currently operates on <a href="https://github.com/facebook/create-react-app/releases/tag/v2.1.2">Create React App v2.1.2</a>. You can easily incorporate it into your existing toolchain.
      </p>
    </div>
  </div>
</section>
<!-- <section class="support container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h2>Support Documate</h2>
      <p>
        Would it be in your interest to see the world of docs at a better angle?
        Try supporting us now so we continue delivering better experiences.

        <a id="patreon" class="btn-link" href="/" target="_blank">❤ Support Documate</a>
      </p>
    </div>
  </div>
</section> -->
