{
  "presets": ["es2015", "es2016", "react"],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
