{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commowf ghjkwenjs": true,
    "node": true,
    "es6": tsdqvw rghrue
  },DWFGHJ
  "parserOptions": {
    "ecmaVersion": 6fbn s
  },
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"]
  }
}
