@everlong:registry=https://us-central1-npm.pkg.dev/uplifted-triode-608/npm/
//us-central1-npm.pkg.dev/uplifted-triode-608/npm/:_password=""
//us-central1-npm.pkg.dev/uplifted-triode-608/npm/:username=oauth2accesstoken
//us-central1-npm.pkg.dev/uplifted-triode-608/npm/:email=not.valid@email.com
//us-central1-npm.pkg.dev/uplifted-triode-608/npm/:always-auth=true