$black: #000;

$colour: #333333;
$background-colour: #f7f5f2;
$selection-colour: #b3d4fc;
$heading-colour: #333333;
$link-colour: #939393;
$link-colour-hovered: #000000;
$code-colour: #444444;
$blockquote-colour: #6f6f6f;
$hr-colour: #dddddd;
