// Type variables
$base-font: sans-serif !default;
$alt-font: sans-serif !default;

// Type styles
%h1,
%h2,
%h3,
%h4,
%h5,
%h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 14px 0;
  font-family: $alt-font;
  font-style: normal;
  color: $heading-colour;
  text-rendering: optimizeLegibility;
}

%h1,
.h1,
h1 {
  font-size: rem(44);
  line-height: 48.4px;
}

%h2,
.h2,
h2 {
  font-size: rem(37);
  line-height: 40.7px;
}

%h3,
.h3,
h3 {
  font-size: rem(27);
  line-height: 29.7px;
}

%h4,
.h4,
h4 {
  font-size: rem(23);
  line-height: 25.3px;
}

%h5,
.h5,
h5 {
  font-size: rem(17);
  line-height: 18.7px;
}

%h6,
.h6,
h6 {
  font-size: rem(14);
  line-height: 15.8px;
}

a {
  color: $link-colour;
  text-decoration: none;
}

p {
  margin-bottom: 17px;
  font-family: inherit;
  font-weight: normal;
}

hr {
  margin: 22px 0 21px;
  height: 0;
  border: solid $hr-colour;
  border-width: 1px 0 0;
  clear: both;
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

b,
strong {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}
