@import '~shared/styles/index.scss';

.app {
  text-align: center;
}

.appLogo {
  @include circle(80px);

  background: $white;
  animation: appLogoSpin infinite 20s linear;
}

.appHeader {
  height: 150px;
  padding: 20px;
  color: $white;
  background: $brand-primary;
}

.appIntro {
  font-size: $fs-1;
}

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
