<h1 id="adding-bootstrap" data-title="Adding Bootstrap">
    <a style="background-color: transparent !important;" href="#adding-bootstrap" aria-hidden="true" class="anchor"><svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>
    Adding Bootstrap
  </h1><p>While you don’t have to use any specific library to integrate Bootstrap with React apps, it&#39;s often easier than trying to wrap the Bootstrap jQuery plugins. <a href="https://react-bootstrap.netlify.com/">React Bootstrap</a> is the most popular option, that strives for complete parity with bootstrap. <a href="https://reactstrap.github.io/">reactstrap</a> is also a good choice for projects looking for smaller builds at the expense of some features.</p>
<p>Each project&#39;s respective documentation site has detailed instructions for installing and using them. Both depend on the Bootstrap css file so install that as well:</p>
<pre><code class="language-shell">npm install --save bootstrap</code></pre>
<p>Alternatively you may use <code>yarn</code>:</p>
<pre><code class="language-shell">yarn add bootstrap</code></pre>
<p>Import Bootstrap CSS and optionally Bootstrap theme CSS in the beginning of your <code>src/index.js</code> file:</p>
<pre><code class="language-jsx">import &#39;bootstrap/dist/css/bootstrap.css&#39;;
// Put any other imports below so that CSS from your
// components takes precedence over default styles.</code></pre>
<h2 id="using-a-custom-theme" data-title="Using a Custom Theme">
    <a style="background-color: transparent !important;" href="#using-a-custom-theme" aria-hidden="true" class="anchor"><svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>
    Using a Custom Theme
  </h2><blockquote>
<p>Note</p>
<p>This feature is available with <code>react-scripts@2.0.0</code> and higher.</p>
</blockquote>
<p>Sometimes you might need to tweak the visual styles of Bootstrap (or equivalent package).<br>
As of <code>react-scripts@2.0.0</code> you can import <code>.scss</code> files. This makes it possible to use a package&#39;s built-in Sass variables for global style preferences.</p>
<p>To customize Bootstrap, create a file called <code>src/custom.scss</code> (or similar) and import the Bootstrap source stylesheet. Add any overrides <em>before</em> the imported file(s). You can reference <a href="http://getbootstrap.com/docs/4.1/getting-started/theming/#css-variables">Bootstrap&#39;s documentation</a> for the names of the available variables.</p>
<pre><code class="language-scss">// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import &#39;~bootstrap/scss/bootstrap.scss&#39;;</code></pre>
<blockquote>
<p><strong>Note:</strong> You must prefix imports from <code>node_modules</code> with <code>~</code> as displayed above.</p>
</blockquote>
<p>Finally, import the newly created <code>.scss</code> file instead of the default Bootstrap <code>.css</code> in the beginning of your <code>src/index.js</code> file, for example:</p>
<pre><code class="language-javascript">import &#39;./custom.scss&#39;;</code></pre>
