.ratio-11 {
  height: 0;
  padding-bottom: 100%; // 1:1
}

.ratio-169 {
  height: 0;
  padding-bottom: 56.25%; // 16:9
}

.ratio-916 {
  height: 0;
  padding-bottom: 177%; // 9:16
}

.ratio-43 {
  height: 0;
  padding-bottom: 75%; // 4:3
}

.ratio-34 {
  height: 0;
  padding-bottom: 133%; // 3:4
}
