.cra-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .cra-container {
    width: calc(750px - 6em);
  }
}

@media (min-width: 992px) {
  .cra-container {
    width: calc(970px - 6em);
  }
}

@media (min-width: 1200px) {
  .cra-container {
    width: calc(1170px - 6em);
  }
}
