.App {
  text-align: center;
}

.App__logo {
  animation: App__logo--spin infinite 20s linear;
  height: 80px;
}

.App__header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App__intro {
  font-size: large;
}

@keyframes App__logo--spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
