:local .root {
  text-align: center;
}

:local .logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

:local .header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

:local .title {
  font-size: 1.5em;
}

:local .intro {
  font-size: large;
}

@keyframes :local(logo-spin) {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
