$dark-gray: #222;

.App {
  text-align: center;
  .App-header {
    background-color: $dark-gray;
    height: 150px;
    padding: 20px;
    color: white;
  }
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}



.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
