// ---------------------------------------------
// VARIABLES EXPORTED TO JAVASCRIPT
// ---------------------------------------------

// This is just a dummy example and should be imported from the project itself.
$color-palette: (
  primary: #ff5722,
  secondary: #21a2ff,
  error: (
    500: #fa5252,
    50:  #fff5f5,
    100: #ffe3e3,
    300: #ff6b6b,
  ),
  success: ( 300: #3adb76, ),
  grey: #adb5bd,
);
