:root {
  --primary-color: #e0c521;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 250px;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 0.3rem;
  margin: 13px 10px;
  position: relative;
  border-radius: 5px;
}

.pos-item {
  cursor: pointer;
  font-weight: bold;
}

.pos-item:hover {
  background: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
  object-fit: cover;
}

.pos-item img {
  width: 100%;
  max-height: 100px;
  margin: auto;
  object-fit: scale-down;
}

.image__container {
  width: 100px;
  height: 100px;
  margin: auto;
}

.card__title {
  font-weight: 400;
  text-align: justify;
}

.card__title .card__price {
  font-weight: bold;
}

/*noinspection ALL*/
.image__container img {
  width: 100%;
  object-fit: cover;
}

/*noinspection ALL*/
@keyframes scaleanimation {
  to {
    transform: translate(20px, -20px) scale(1.05);
    opacity: 1;
  }
}
