.Hello {
  font-size: 18px;

  input {
    font-size: 18px;
    padding: 10px 15px;
    margin-right: 20px;
  }

  button {
    font-size: 18px;
    padding: 0 20px;
    height: 45px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
  }
}
